@font-face {
    font-family: 'sora'; /* A name you choose for your font */
    src: url('/assets/fonts/sora.woff2') format('woff2'); 
    font-style: normal; 
    font-display: swap;
}

* {
    font-family: 'sora', sans-serif !important; /* Fallback to a generic sans-serif font */
  }

body {
  background-color: black;
}

a {
  overflow-wrap: break-word;
}

/* Color Correction */
.btn-secondary {
    color: var(--bs-white);
}