<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    {{- partial "head.html" . -}}
</head>
<body>
    <section class="vh-100 p-2 container d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-secondary text-center fw-semibold" style="font-size: 4.5em;">{{ .Title }}</h1>
        <p class="text-center" style="max-width: 800px;">{{ .Description }}</p>
        <div class="d-flex flex-wrap justify-content-center">
            <a class="m-2 btn btn-secondary" style="width: 150px;" href="/tools/">Explore Tools</a>
            <a class="m-2 btn btn-secondary" style="width: 150px;" href="/guides/">Explore Guides</a>
            <a class="m-2 btn btn-outline-secondary" style="width: 150px;" href="https://github.com/casfergroup/pandora">Contribute</a>
        </div>
    </section>    

    {{- partial "footer.html" . -}}
</body>
</html>