<footer class="bg-black text-white">
    <div style="height: 50px;"></div>
    <div class="container">
        <div class="mb-4">
            <p class="fs-4 fw-bold">unauthorized access = illegal = big trouble</p>
            <p>Always have legal authorization before conducting active reconnaissance or accessing sensitive information you discover.</p>
        </div>
        <div class="text-center">
            Maintained by <a class="text-decoration-none" href="https://www.casfergroup.com/">Casfer</a>
        </div>        
    </div>
    <div style="height: 50px;"></div>
</footer>