<div class="container p-4 bg-black rounded mt-5">
    <h2 class="mb-4 text-secondary">Cyber Kill Chain</h2>
    <div class="row ">
        <p class="col-12 col-md-6"><span class="fs-5 text-secondary bi bi-binoculars" title="Recognition"></span> <strong>Recon:</strong> Information gathering stage, where attackers gather as much information as possible about the target.</p>
        <p class="col-12 col-md-6"><span class="fs-5 text-secondary bi bi-wrench" title="Weaponization"></span> <strong>Weaponization:</strong> Crafting of tools or payloads to exploit vulnerabilities.</p>
        <p class="col-12 col-md-6"><span class="fs-5 text-secondary bi bi-box-arrow-in-right" title="Delivery"></span> <strong>Delivery:</strong> The transmission of the weaponized payload to the target.</p>
        <p class="col-12 col-md-6"><span class="fs-5 text-secondary bi bi-bug" title="Exploitation"></span> <strong>Exploitation:</strong> Exploiting a vulnerability to gain access to the target system.</p>
        <p class="col-12 col-md-6"><span class="fs-5 text-secondary bi bi-download" title="Installation"></span> <strong>Installation:</strong> Establishing a foothold on the target system.</p>
        <p class="col-12 col-md-6"><span class="fs-5 text-secondary bi bi-diagram-3" title="Command & Control (C2)"></span> <strong>Command & Control (C2):</strong> Setting up channels for communication with the compromised system.</p>
        <p class="col-12 col-md-6"><span class="fs-5 text-secondary bi bi-shield-x" title="Actions on Objectives"></span> <strong>Actions on Objectives:</strong> Achieving the intended goal of the attack, such as data exfiltration or system disruption.</p>
    </div>
</div>